# 通过base_url参数连接到任何兼容 OpenAI API 格式的服务。包括本地url和阿里云百炼的OpenAI兼容模式API地址
LLM_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_API_KEY=
# 百炼平台部署好的llm，或者使用本地llm地址
LLM_MODEL_NAME=

LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=